@font-face {
  font-family: Neuron;
  src: url(fonts/Neuron.otf);
}
@font-face {
  font-family: Ultra;
  src: url(fonts/Ultra.otf);
}
div {
  font-family: Neuron;
}
.wrapper {
  background: url(../../images/window.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
}

html {
  height: 100%;
}

body {
  background: black;
  margin: 0;
  height: 100%
}
h1 {
  margin: 0 auto;
  padding-top: 10px;
  font-size: 90px;
  width: 350px;
  color: rgba(255,255,255 ,1);
}
h2, h3 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 0;
}

canvas {
  border: 5px solid white;
  border-radius: 10px;
  margin: 40px auto 40px auto;
  display: block;
  background: white;
}
.game {
  width: 720px;
  height: 320px;
  margin: 40px auto 40px auto;
  position: relative;
}
button {
  position: absolute;
  bottom: -32px;
  left: 0px;
  border-radius: 5px;
}
footer {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  background: rgba(0,0,0,.54)!important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
footer a:visited {
  color: white;
}
footer a:hover {
  color: red;
}
.wrapper {
  min-height: calc(100vh - 180px);
  height: 100%;
}
